# OS・エディタ関係
.DS_Store
Thumbs.db
.vscode/

# Nodeやビルドツールを使う場合
node_modules/
dist/
build/

# 一時ファイル・ログ
*.log
*.tmp

# WindowsのZone.Identifierを無視
*:[Zz]one.Identifier
companyimages/businesspertner.jpgZone.Identifier
companyimages/firstworker.jpgZone.Identifier
companyimages/fivepeople.jpgZone.Identifier
companyimages/friend.jpgZone.Identifier
companyimages/logo.jpgZone.Identifier
companyimages/two-woman.jpgZone.Identifier
images/bgSec04.jpgZone.Identifier
images/iconFb.pngZone.Identifier
images/iconTw.pngZone.Identifier
images/iconInsta.pngZone.Identifier
images/iconYouTube.pngZone.Identifier
images/imgProject.jpgZone.Identifier
images/logo.pngZone.Identifier
images/logo01.pngZone.Identifier
images/logo02.pngZone.Identifier
images/logo03.pngZone.Identifier
images/logo04.pngZone.Identifier
images/mainImg.jpgZone.Identifier
images/photo01.jpgZone.Identifier
images/photo02.jpgZone.Identifier
images/photo03.jpgZone.Identifier
images/photo04.jpgZone.Identifier
images/photo05.jpgZone.Identifier
images/photo06.jpgZone.Identifier
images/photo08.jpgZone.Identifier
images/photo07.jpgZone.Identifier
images/photo09.jpgZone.Identifier
images/photo10.jpgZone.Identifier
images/photo11.jpgZone.Identifier
images/photo13.jpgZone.Identifier
images/photo12.jpgZone.Identifier
images/photo14.jpgZone.Identifier
images/photo15.jpgZone.Identifier
images/slide1.jpgZone.Identifier
images/slide2.jpgZone.Identifier
images/slide3.jpgZone.Identifier
images/subImg.jpgZone.Identifier
